{{#link-to 'entry' entry}}
  <div class="panel panel-default entry-tile">
    <img src={{entry.image}} alt="" class="img-responsive"/>
    <h1>{{entry.title}}</h1>
    <h3>{{moment-from-now  entry.date}}</h3>
    {{#if admin}}
      <button class="btn btn-danger" type="button" name="button"{{action 'delete' entry}}>DELETE</button>
    {{/if}}
  </div>
{{/link-to}}
