<form class="" action="index.html" method="post">
  <label for="">Author</label>
  {{input value=author id="author"}}
  <label for="">Rating</label>
  {{input value=rating id="rating"}}
  <label for="">Content</label>
  {{input value=content id="content"}}
  <button {{action "saveComment" }}>Comment</button>
</form>
