<h1>Welcome to my asesome blog</h1>
{{new-entry post2="post2"}}
{{log model.admin}}
<ul>


  {{#filter-content content=model.entries properties="title" as |filteredEntries query|}}
  <h3>Search By Tag or Name of Article</h3>
    
      {{input value=query class="form-control"}}

    {{#each filteredEntries as |entry|}}
    <div class="overlay">
      {{entry-tile admin=model.admin entry=entry destroyEntry="destroyEntry"}}
    </div>
    {{/each}}
  {{/filter-content}}

</ul>
