<h1>Welcome to my asesome blog</h1>
{{new-entry post2="post2"}}
<ul>
  {{#each model.entries as |entry|}}
    {{log "Admin status: " model.admin}}
    {{entry-tile admin=model.admin entry=entry destroyEntry="destroyEntry"}}
  {{/each}}
  blog entries go here
</ul>
